[Unit]
Description=docker-volume-local-persist
Before=docker.service
Wants=docker.service

[Service]
TimeoutStartSec=0
Environment=LOCAL_PERSIST_ROOT=/ceph
Environment=CLUSTER_NAME=ghdacsds1
Environment=LOCAL_PERSIST_CLEAR=YES
ExecStart=/usr/bin/docker-volume-local-persist

[Install]
WantedBy=multi-user.target
